@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

body {
  font-family: 'Roboto', sans-serif;
  height: 1500px; }

/*HEADER STYLES START*/
.header {
  background: url("../img/header-bg.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh; }
  .header .logo_block {
    max-width: 1070px;
    margin: 0 auto 10px auto;
    padding: 10px 0; }
  .header .menu_wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.3); }
    .header .menu_wrapper .top_menu {
      max-width: 1070px;
      min-width: 960px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header .menu_wrapper .top_menu li a {
        position: relative;
        display: block;
        padding: 15px 10px;
        color: #fff;
        text-decoration: none; }
        .header .menu_wrapper .top_menu li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #f7062e;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
        .header .menu_wrapper .top_menu li a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }

/*HEADER STYLES END*/
